<script id="bootstrap-current-user" type="text/javascript">

  <% if logged_in? %>
  	window.currentUser = <%= render(
      "api/users/user.json.jbuilder", user: current_user
      ).html_safe %>

  <% end %>

  window.logo = "<%= asset_path('bird-flight-silhouette.png') %>"
  window.greetingBackground = "<%= asset_path('greeting-background.jpg') %>"
</script>

<main id="root"></main>
