/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self

*/

/*/////////////////////////////////////////////////
////////////////////  RESET  //////////////////////
/////////////////////////////////////////////////*/

html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}

body {
  scroll-behavior: auto;
  line-height: 1.5;
  color: white;
  font-family: proxima_nova,Helvetica Neue,Helvetica,Arial,sans-serif;
  -webkit-user-select: none;
  /* font-family: 'Open Sans', sans-serif; */
}

ul {
 list-style: none;
}

ol {
  list-style: decimal inside;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 45px;
  font-weight: 500;
}

h2 {
  font-size: 28px;
  font-weight: 500;
}

h3 {
  font-size: 25px;
  font-weight: 200;
}

.BLACKround {
  background-color: black;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  z-index: -10;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greyish {
  background-color: #111111;
}

/* #root {
  height: 100%;
  overflow: hidden;
} */

#spotiFLY-logo {
  height: 30px;
  width: 30px;
  filter: invert(100%);
  color: transparent;
  border: .5px solid black;
  border-radius: 50%;
  padding: 5px 5px;
  margin-right: 10px;
  object-position: 0.5px -2px;
}

#spotiFLY-logo.sidebar-logo {
  opacity: 0.7;
}

/* custom scrollbar */
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
    border: 1px solid #999;
    border-radius: 4.5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

/*/////////////////////////////////////////////////
////////////////  greeting page  //////////////////
/////////////////////////////////////////////////*/

@keyframes fadeinpartial {
  from { opacity: 0; }
  to   { opacity: .35; }
}

.greeting-background {
  position: absolute;
  height: -webkit-fill-available;
  object-fit: cover;
  width: 100%;
  opacity: 0.35;
  z-index: -1;
  overflow: hidden;
}

@media (max-width: 800px) {
  /* body {
    overflow: scroll;
  } */

  /* #root {
    overflow: scroll;
  }

  /* .greeting-background {
    overflow: scroll;
  } */

  .BLACKround {
    overflow: scroll;
  }
}

.errors {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #ff6666;
}

.splash-flexbox {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1000;
  justify-content: center;
  align-items: center;
  color: #e0e0e0;
}

.greeting-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 325px;
  /* min-width: 350px; */
  margin-right: 30px;
  border-right: 0.5px solid white;
}

.greeting-cont input {
  height: 45px;
  width: 235px;
  font-size: 17px;
  text-align: center;
  border: 0.5px solid black;
  border-radius: 20px;
  background-color: rgba(255,255,255, .9);
  outline: none;
}

.main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-top: 40px;
  letter-spacing: 1px;
  font-weight: 500;
}

.signup-link {
  display: flex;
  color: white;
  background-color: #1db954;
  border: 0.5px solid black;
  height: 45px;
  width: 200px;
  margin-top: 5px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

#account-question {
  color: #bfbfbf;
  font-size: 13px;
  letter-spacing: 1.5px;
}

#login-link-button {
  display: flex;
  color: black;
  background-color: white;
  border: 0.5px solid black;
  height: 45px;
  width: 200px;
  margin-bottom: 60px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

#session-link a {
  color: #1db954;
}

#submit-button {
  color: white;
  background-color: #1db954;
  border: 0.5px solid black;
  height: 45px;
  width: 235px;
  border-radius: 20px;
}

#submit-button:hover {
  background-color: #047a3d;
  cursor: pointer;
}

.signup-link:hover {
  background-color: #047a3d;
  cursor: pointer;
}

#login-link-button:hover {
  background-color: #a5a5a5;
  cursor: pointer;
}

#guest-login {
  cursor: default;
}

#guest-login:hover {
  cursor: pointer;
  color: #1db954;
}

@keyframes fadeinfull {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#welcome-message, #greeting-cont {
  /* -webkit-animation: fadeinfull 3s;
   -moz-animation: fadeinfull 3s;
    -ms-animation: fadeinfull 3s;
     -o-animation: fadeinfull 3s;
        animation: fadeinfull 3s ease-in;
        opacity: 1; */
}

.welcome-message {
  /* opacity: 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 325px;
  /* min-width: 600px; */
  margin-left: 32px;
}

.welcome-message h1 {
  color: #1db954;
}

.welcome-bullets strong {
  color: #1db954;
}

.welcome-bullets {
  font-weight: 335;
  letter-spacing: 0.4px;
}

/*/////////////////////////////////////////////////
////////////////  modal  //////////////////////////
/////////////////////////////////////////////////*/

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,.9);
  z-index: 10;
}

.modal-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.playlist-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  letter-spacing: 0.8px;
  text-transform: none;
}

.close-x-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 60px;
}

.close-x {
  font-size: 30px;
}

.close-x:hover {
  font-size: 40px;
  cursor: pointer;
}

.playlist-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.playlist-form {
  background-color: #282828;
  padding-top: 26px;
  height: 122px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.playlist-form span, .playlist-form input[type=text] {
  padding-left: 40px;
}

.playlist-input {
  background-color: transparent;
  border: none;
  caret-color: #1db954;
  width: 100%;
  height: 60px;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
}

.playlist-input:focus, .playlist-input:hover {
  outline: 0;
}

.playlist-button-group {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.playlist-submit-container, .playlist-cancel-container, .follow-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 60px;
}

.playlist-cancel-button, .follow-button {
  background-color: transparent;
  color: white;
  height: 42px;
  width: 150px;
  border-radius: 20px;
  letter-spacing: 2px;
  outline: none;
}

.playlist-cancel-button:hover, .follow-button:hover {
  cursor: pointer;
  height: 45px;
  width: 160px;
  border-radius: 25px;
}

#create-playlist, #delete-playlist {
  color: white;
  background-color: #1db954;
  border: 0.5px solid black;
  height: 42px;
  width: 150px;
  border-radius: 20px;
  letter-spacing: 2px;
  outline: none;
}

#create-playlist:hover, #delete-playlist:hover {
  cursor: pointer;
  background-color: #24d863;
  height: 45px;
  width: 160px;
  border-radius: 25px;
}

/*/////////////////////////////////////////////////
///////////////////  topbar  //////////////////////
/////////////////////////////////////////////////*/

.topbar {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 10px 20px;
}

.topbar-sticky {
  position: fixed;
  top: 10px;
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 10px 20px;
}

.new-playlist-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 160px;
}

.new-playlist-button, .delete-playlist-button {
  color: white;
  background-color: #1db954;
  border: none;
  height: 32px;
  width: 150px;
  border-radius: 20px;
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 24px 190px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 24px 190px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 24px 190px -6px rgba(0,0,0,0.75);
  outline: none;
}

.new-playlist-button:hover, .delete-playlist-button:hover {
  cursor: pointer;
  background-color: #24d863;
  height: 35px;
  width: 160px;
  border-radius: 25px;
}

.delete-playlist-button:hover {
  color: #f44242;
  font-weight: 700;
}

.nav-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-arrows i {
  color: hsla(0,0%,100%,.7);
  transition: all .1s linear;
}

.nav-arrows i:hover {
  cursor: pointer;
  color: white;
}

.collection-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
}

.collection-nav a {
  text-decoration: none;
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: hsla(0,0%,100%,.7);
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 1px;
}

.collection-nav a:hover {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

/*/////////////////////////////////////////////////
//////////////////  sidebar  //////////////////////
/////////////////////////////////////////////////*/

.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  min-height: 100%;
  width: 220px;
  padding: 0 15px 0 15px;
  background-color: rgba(0, 0, 0, .6);
  letter-spacing: .8px;
  -webkit-user-select: none;
}

.sidebar a {
  text-decoration: none;
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: hsla(0,0%,100%,.6);
}

.sidebar a:hover {
  cursor: pointer;
  color: white;
}

.sidebar-active a {
  color: #1db954
}

.left-spacing {
  margin-left: 260px;
}

.sidebar-logo {
  height: 50px;
  width: 50px;
}

.sidebar-link-container {
  display: flex;
  align-items: center;
  width: 217px;
  height: 50px;
  border-top: 1px solid hsla(0,0%,100%,.3);
}

#personal-info {
  position: absolute;
  bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 217px;
  min-height: 40px;
  opacity: 0.6;
  font-weight: 200;
  letter-spacing: 1px;
  -webkit-user-select: none;
}

#personal-info strong:hover {
  color: lightgreen;
  opacity: 1;
}

.links {
  position: absolute;
  bottom: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 217px;
  min-height: 60px;
}

.links img {
  filter: invert(100%);
  opacity: 0.7;

}

.links img:hover {
  transform: scale(1.1);
  opacity: 1;
}

#github {
  height: 45px;
  width: 45px;
}

#linkedin {
  height: 50px;
  width: 50px;
}

#mailto {
  height: 45px;
  width: 45px;
}

.logout-button {
  background-color: transparent;
  transition: color .15s linear, background-color .15s linear;
  color: hsla(0,0%,100%,.6);
  height: 30px;
  width: 65px;
  border-radius: 11px;
}

.logout-button:hover {
  cursor: pointer;
  background-color: white;
  color: #f44242;
}

.user-logout span {
  color: hsla(0,0%,100%,.6);
}

.user-logout span:hover {
  cursor: default;
}

.user-logout {
  position: absolute;
  bottom: 80px;
}

/*/////////////////////////////////////////////////
////////////////  playlists  //////////////////////
/////////////////////////////////////////////////*/

.index-flexbox {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: auto;
  font-family: proxima_nova,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.playlist-gradient {
  background-image: linear-gradient(to bottom, #9f2b2b 0%,#000000 100%);
}

.random-gradient {
  background-image: linear-gradient(to bottom, #7500c4 0%,#000000 100%);
}

.random-gradient2 {
  background-image: linear-gradient(to bottom, #0054c4 0%, #000000 100%);
}

.artist-gradient {
  background-image: linear-gradient(to bottom, #417456 0%, #000000 100%);
}

.playlist-index-container {
  display: flex;
  height: 100%;
  width: 100%;
  padding-bottom: 120px;
}

.playlist-index {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.playlist-index-item img, .add-playlist-index-item img, .artist-index-item img {
  position: relative;
  height: 170px;
  width: 170px;
  -webkit-box-shadow: 0px 24px 190px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 24px 190px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 24px 190px -6px rgba(0,0,0,0.75);
}

.playlist-index-item, .artist-index-item {
  transition: all .1s linear;
}

.playlist-index-item:hover, .artist-index-item:hover {
  filter: brightness(50%);
}

.playlist-index-item span {
  position: relative;
}

.playlist-index-item, .add-playlist-index-item, .artist-index-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 130px;
  padding: 10px 10px 0 10px;
  margin: 10px 10px 0 10px;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.playlist-index-item-container {
  text-align: center;
}

.artwork-single {
  box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.2);
  width: 170px;
  height: 170px;
}

.artwork-conglomerate {
  display: flex;
  flex-wrap: wrap;
  width: 170px;
  height: 170px;
  box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.2);
}

.artwork-single img {
  position: relative;
  height: 170px;
  width: 170px;
  -webkit-box-shadow: 0px 24px 190px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 24px 190px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 24px 190px -6px rgba(0,0,0,0.75);
}

.artwork-conglomerate img {
  position: relative;
  height: 85px;
  width: 85px;
}

.playlist-detail-container, .album-detail-container, .artist-detail-container {
  display: flex;
  height: auto;
  width: 98%;
  padding-bottom: 100px;
}

@media (max-width: 1000px) {
  .playlist-detail-container, .album-detail-container {
    display: block;
  }

  .playlist-detail-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .empty-message-container {
    text-align: center;
  }
}

.album-detail-container img {
  height: 250px;
  width: 250px;
  -webkit-box-shadow: 0px 24px 190px -20px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 24px 190px -20px rgba(0,0,0,0.75);
  box-shadow: 0px 24px 190px -20px rgba(0,0,0,0.75);
}

.playlist-detail-tracks, .album-detail-tracks {
  padding: 10px;
  height: auto;
  width: 100%;
}

.playlist-detail-info, .album-detail-info {
  padding: 10px;
  text-align: center;
}

.default-playlist-img-detail {
  width: 250px;
  height: 250px;
}

.artwork-single-detail {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.2);
}

.artwork-single-detail i {
  font-size: 60px;
  text-shadow: 0px 0px 3px black;
}

.artwork-conglomerate-detail {
  width: 250px;
  height: 250px;
  line-height: 0;
  box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.2);
}

.artwork-single-detail img {
  position: relative;
  height: 250px;
  width: 250px;
}

.artwork-conglomerate-detail img {
  position: relative;
  height: 125px;
  width: 125px;
}

.add-track {
  justify-content: center;
}

.add-playlist-index-item {
  transition: all .2s ease-in-out;
}

.add-playlist-index-item:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.empty-message-container {
  opacity: 0;
  padding-left: 20px;
  transition: all .7s linear;
}

.visible {
  opacity: 1;
}

.empty-message-container a {
  font-weight: 450;
  color: #1db954;
  transition: all .11s linear;
}

.empty-message-container a:hover {
  text-decoration: underline;
}

#empty-playlist-eighthnote {
  height: 170px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 14px 2px black;
  transition: all .1s linear;
}

#empty-playlist-eighthnote:hover {
  box-shadow: 0 0 14px 2px white;
}

#empty-playlist-eighthnote i {
  font-size: 60px;
  text-shadow: 0px 0px 3px black;
  transition: all .1s linear;
}
/*/////////////////////////////////////////////////
///////////////////  tracks  //////////////////////
/////////////////////////////////////////////////*/

div[class^="track-index-highlight"] {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 5px 5px 5px 15px;
  transition: background-color .2s linear;
}

div[class*="track-index-highlight"]:hover {
  background-color: rgba(0,0,0,.3);
}

div[class*="track-index-highlight"] i {
  opacity: 0;
}

div[class*="track-index-highlight"]:hover i {
  opacity: 1;
  cursor: pointer;
}

div[class*="track-index-highlight"]:hover #index-play:hover {
  color: #1db954;
}

.index-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-track {
  background-color: rgba(0,0,0,.3);
}

#index-pause {
  opacity: 1;
  color: #1db954;
}

.track-info-group {
  border-left: 1px solid hsla(0, 0%, 60%, 0.6);
}

.track-number-button {
  text-align: right;
  margin-right: 11px;
  min-width: 20px;
  min-height: 20px;
  font-weight: 200;
  color: hsla(0,0%,100%,.6);
}

.track-name {
  width: auto;
  margin: 5px 0 15px 15px;
  font-weight: 250;
  letter-spacing: 0.8px;
}

.track-artist-name {
  margin-left: 15px;
}

.track-artist-name, .track-album-name, .album-artist-name {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
  transition: color .15s linear, text-decoration .15s linear;
  color: hsla(0,0%,100%,.7);
}

.track-artist-name:hover, .track-album-name:hover, .album-artist-name:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.add-to-playlist-button {
  position: absolute;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10%;
}

.add-or-delete-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
}

.add-button-icon, .delete-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button-icon i {
  font-size: 20px;
  transition: color .15s linear, font-size .15s linear;
}

.add-button-icon:hover i {
  cursor: pointer;
  font-size: 28px;
  color: #1db954;
  box-shadow: 0px 24px 190px -20px #1db954;
}

.delete-button-icon i {
  font-size: 20px;
  transition: color .15s linear, font-size .15s linear;
}

.delete-button-icon:hover i {
  cursor: pointer;
  font-size: 28px;
  color: #ff2d2d;
  box-shadow: 0px 24px 190px -20px #ff6666;
}

/*/////////////////////////////////////////////////
//////////////////// albums ///////////////////////
/////////////////////////////////////////////////*/

.album-detail-tracks, .album-detail-info {
  margin-top: 10px;
}

/*/////////////////////////////////////////////////
/////////////////// artists ///////////////////////
/////////////////////////////////////////////////*/

.artist-photo {
  border-radius: 50%;
}

.artist-index-item {
  border-radius: 50%;
}

.artist-index-item img {
  border: 1px solid #ffffff59;
  border-radius: 50%;
  object-fit: cover;
}

.artist-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.artist-cover-photo-container {
  position: absolute;
  z-index: -1;
  /* opacity: .5; */
  height: 45%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.artist-cover-photo-container:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(transparent -30%, #111111);
}

.artist-detail-tracks {
  width: 80%;
  padding-bottom: 10px;
}

.artist-detail-albums {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 0 20px 0;
  background-color: #0c0c0c;
}

.albumlist {
  align-self: center;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}

.albumlist img {
  height: 200px;
  width: 200px;
}

.artist-album-container {
  margin: 0 10px 5px 10px;
  transition: filter .1s linear;
}

.artist-album-container:hover {
  filter: brightness(50%);
}

.follow-button {
  background-color: rgba(0, 0, 0, 0.3);
}

/*/////////////////////////////////////////////////
///////////////////  search  //////////////////////
/////////////////////////////////////////////////*/

.search-index-flexbox {
  position: absolute;
  width: 100%;
  min-height: 100%;
}

.left-spacing-exact {
  margin-left: 250px;
}

.search-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-form {
  background-color: #282828;
  padding-top: 26px;
  height: 122px;
  width: 100%;
}

.search-form span, .search-form input[type=text] {
  padding-left: 30px;
}

.search-input {
  background-color: transparent;
  border: none;
  caret-color: #1db954;
  height: 60px;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
}

.search-input:focus, .search-input:hover {
  outline: 0;
}

.search-result-index {
  position: absolute;
  top: 150px;
  width: 75%;
  padding: 10px 10px 92px 0;
}

.search-result-index .track-index-highlight:hover {
  background-color: rgba(225, 225, 225, .17);
}

/*/////////////////////////////////////////////////
///////////////////  playbar  /////////////////////
/////////////////////////////////////////////////*/

.playbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(45, 45, 45);
  border-top: 1px solid black;
}

.playbar-left {
  width: 30%;
  min-width: 180px;
}

.playbar-center {
  width: 40%;
  max-width: 722px;
}

.playbar-right {
  width: 30%;
  min-width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.now-playing-container {
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 5px;
}

.now-playing-artwork {
  display: flex;
  justify-content: center;
  align-items: center;
}

.now-playing-artwork img {
  height: 60px;
  width: 60px;
  box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.3);
  -webkit-user-select: none;
}

.now-playing-info {
  height: 100%;
  width: auto;
  padding: 0 11px 0 11px;
}

.now-playing-track {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}

.now-playing-artist span {
  /* width: fit-content; */
  margin: 5px 0 5px 0;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 0.8px;
  transition: color .15s linear, text-decoration .15s linear;
  color: hsla(0,0%,100%,.7);
}

.now-playing-artist span:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.now-playing-add-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  margin-bottom: 10px;
}

.now-playing-add-button i {
  font-size: 20px;
  transition: color .15s linear, font-size .15s linear;
  -webkit-user-select: none;
}

.now-playing-add-button:hover i {
  cursor: pointer;
  font-size: 30px;
  color: #1db954;
  box-shadow: 0px 24px 190px -20px #1db954;
}

.playbar-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playbar-control-buttons {
  display: flex;
  width: 224px;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.play-pause-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.skip-track-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
}

.playbar-control-bar {
  height: 20px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  */
/* this is the godforsaken progress bar */
/*  *//*  *//*  *//*  *//*  *//*  *//*  */

#elapsed-time input, #remaining-time input {
  -webkit-user-select: none;
}

#elapsed-time, #remaining-time {
  -webkit-user-select: none;
  display: inline;
  width: 40px;
  text-align: center;
  font-size: 12px;
  font-weight: 200;
  background-color: transparent;
  outline: none;
  border: none;
  color: hsla(0,0%,100%,.7);
  caret-color: transparent;
  cursor: default;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  height: 7px;
  width: 400px;
  margin: 0 10px 0 10px;
  border-radius: 15px;
}

progress[value]::-webkit-progress-bar {
  background-color: rgba(109, 109, 109, .7);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  border-radius: 15px;
}

progress[value]::-webkit-progress-value {
  background-color: rgba(127, 127, 127, .7);
  border-radius: 15px;
  transition: background-color .1s linear;
}

.progress-bar:hover progress[value]::-webkit-progress-value {
  background-color: #1db954;
}

.progress-bar:hover progress[value] {
  cursor: pointer;
}

#play-circle, #pause-circle {
  -webkit-user-select: none;
  font-size: 40px;
  transition: font-size .1s linear, color .1s linear;
  color: hsla(0,0%,100%,.7);
}

#play-circle:hover, #pause-circle:hover {
  cursor: pointer;
  font-size: 44px;
  color: #1db954;
}

#next-track, #prev-track {
  -webkit-user-select: none;
  font-size: 24px;
  transition: font-size .1s linear, color .1s linear;
  color: hsla(0,0%,100%,.7);
}

#next-track:hover, #prev-track:hover {
  cursor: pointer;
  font-size: 29px;
  color: #1db954;
}

#queue, #device, #volume {
  -webkit-user-select: none;
  font-size: 20px;
  color: hsla(0,0%,100%,.7);
}

.extra-controls {
  display: flex;
  justify-content: space-between;
}

#queue {
  transition: color .1s linear;
}

#queue:hover {
  cursor: default;
  color: #1db954;
}

#device {
  margin-left: 20px;
  transition: color .1s linear;
}

#device:hover {
  cursor: default;
  color: #1db954;
}

#volume {
  margin: 0 5px 0 20px;
  transition: color .1s linear;
}

#volume:hover {
  cursor: pointer;
  color: #1db954;
}

/* volume slider */
#volume-control {
  width: 100px;
  transition: color .1s linear;
}

#volume-control:hover {
  color: #1db954;
}
/* ------------------------------------ */

/*  *//*  *//*  *//*  *//*  *//*  *//*  */
/*  this is the godforsaken volume bar  */
/*  *//*  *//*  *//*  *//*  *//*  *//*  */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: .5px solid black;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  transition: background-color .1s linear;
  background-color: #010101;
  border-radius: 15px;
  border: .5px solid hsla(0,0%,100%,.7);
}

/* input[type=range]:hover::-webkit-slider-runnable-track {
  background: #1db954;
} */
