/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self

*/

@import 'playlists.scss';

/*/////////////////////////////////////////////////
////////////////////  RESET  //////////////////////
/////////////////////////////////////////////////*/

html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}

body {
 line-height: 1.5;
 color: white;
 font-family: proxima_nova,Helvetica Neue,Helvetica,Arial,sans-serif;
}

ul {
 list-style: none;
}

ol {
  list-style: decimal inside;
}

a {
  text-decoration: none;
  color: #1db954;
}

h1 {
  font-size: 45px;
  font-weight: 500;
}

h2 {
  font-size: 28px;
  font-weight: 500;
}

h3 {
  font-size: 25px;
  font-weight: 200;
}

.BLACKround {
  background-color: black;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  z-index: -10;
  overflow: auto;
}

#root {
  height: 100%;
  overflow: hidden;
}

/* custom scrollbar */
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
    border: 1px solid #999;
    border-radius: 4.5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

/*/////////////////////////////////////////////////
////////////////  greeting page  //////////////////
/////////////////////////////////////////////////*/

/* @keyframes fadeinpartial {
  from { opacity: 0; }
  to   { opacity: .35; }
} */

.greeting-background {
  background: url("https://images2.alphacoders.com/267/267922.jpg") no-repeat;
  background-size:cover;
  min-height: 1080px;
  opacity: 0.35;
  /* position: relative; */
  z-index: -1;
  overflow: hidden;
  /* animation: fadeinpartial 2s linear; */
}

.errors {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #ff6666;
}

.splash-flexbox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #e0e0e0;
}

.greeting-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 325px;
  width: 350px;
  margin-right: 30px;
  border-right: 0.5px solid white;
}

.greeting-cont input {
  height: 45px;
  width: 235px;
  font-size: 17px;
  text-align: center;
  border: 0.5px solid black;
  border-radius: 20px;
  background-color: rgba(255,255,255, .9);
  outline: none;
}

.main-logo {
  margin-top: 40px;
  letter-spacing: 1px;
  font-weight: 500;
}

.signup-link {
  display: flex;
  color: white;
  background-color: #1db954;
  border: 0.5px solid black;
  height: 45px;
  width: 200px;
  margin-top: 5px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

#account-question {
  color: #bfbfbf;
  font-size: 13px;
  letter-spacing: 1.5px;
}

#login-link-button {
  display: flex;
  color: black;
  background-color: white;
  border: 0.5px solid black;
  height: 45px;
  width: 200px;
  margin-bottom: 60px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.login-link {
  /* display: flex;
  color: black;
  background-color: white;
  border: 0.5px solid black;
  height: 45px;
  width: 200px;
  margin-bottom: 60px;
  border-radius: 20px;
  justify-content: center;
  align-items: center; */
}

#submit-button {
  color: white;
  background-color: #1db954;
  border: 0.5px solid black;
  height: 45px;
  width: 235px;
  border-radius: 20px;
}

#submit-button:hover {
  background-color: #047a3d;
  cursor: pointer;
}

.signup-link:hover {
  background-color: #047a3d;
  cursor: pointer;
}

#login-link-button:hover {
  background-color: #a5a5a5;
  cursor: pointer;
}

/* @keyframes fadeinfull {
  from { opacity: 0; }
  to   { opacity: 1; }
} */

#welcome-message, #greeting-cont {
  /* -webkit-animation: fadeinfull 3s;
   -moz-animation: fadeinfull 3s;
    -ms-animation: fadeinfull 3s;
     -o-animation: fadeinfull 3s;
        animation: fadeinfull 3s ease-in;
        opacity: 1; */
}

.welcome-message {
  /* opacity: 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 325px;
  width: 600px;
  margin-left: 32px;
}

.welcome-message h1 {
  color: #1db954;
}

.welcome-bullets strong {
  color: #1db954;
}

.welcome-bullets {
  font-weight: 335;
  letter-spacing: 0.4px;
}

/*/////////////////////////////////////////////////
////////////////  modal  //////////////////////////
/////////////////////////////////////////////////*/

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,.9);
  z-index: 10;
}

.modal-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.playlist-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  letter-spacing: 0.8px;
  text-transform: none;
}

.close-x-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 60px;
}

.close-x {
  font-size: 30px;
}

.close-x:hover {
  font-size: 40px;
}

.playlist-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.playlist-form {
  background-color: #282828;
  padding-top: 26px;
  height: 122px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.playlist-form span, .playlist-form input[type=text] {
  padding-left: 40px;
}

.playlist-input {
  background-color: transparent;
  border: none;
  caret-color: #1db954;
  width: 100%;
  height: 60px;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
}

.playlist-input:focus, .playlist-input:hover {
  outline: 0;
}

.playlist-button-group {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.playlist-submit-container, .playlist-cancel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 60px;
}

.playlist-cancel-button {
  background-color: transparent;
  color: white;
  height: 42px;
  width: 150px;
  border-radius: 20px;
  letter-spacing: 2px;
  outline: none;
}

.playlist-cancel-button:hover {
  height: 45px;
  width: 160px;
  border-radius: 25px;
}

#create-playlist, #delete-playlist {
  color: white;
  background-color: #1db954;
  border: 0.5px solid black;
  height: 42px;
  width: 150px;
  border-radius: 20px;
  letter-spacing: 2px;
  outline: none;
}

#create-playlist:hover, #delete-playlist:hover {
  background-color: #24d863;
  height: 45px;
  width: 160px;
  border-radius: 25px;
}

/*/////////////////////////////////////////////////
///////////////////  topbar  //////////////////////
/////////////////////////////////////////////////*/

.topbar {
  display: flex;
  justify-content: flex-end;
  margin: 20px 20px 10px 20px;
}

.new-playlist-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 160px;
}

.new-playlist-button, .delete-playlist-button {
  color: white;
  background-color: #1db954;
  border: none;
  height: 32px;
  width: 150px;
  border-radius: 20px;
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 24px 190px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 24px 190px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 24px 190px -6px rgba(0,0,0,0.75);
  outline: none;
}

.new-playlist-button:hover, .delete-playlist-button:hover {
  background-color: #24d863;
  height: 35px;
  width: 160px;
  border-radius: 25px;
}

.delete-playlist-button:hover {
  color: #f44242;
  font-weight: 700;
}

/*/////////////////////////////////////////////////
//////////////////  sidebar  //////////////////////
/////////////////////////////////////////////////*/

.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  min-height: 100%;
  width: 220px;
  padding: 0 15px 0 15px;
  background-color: rgba(0, 0, 0, .6);
}

.sidebar a {
  text-decoration: none;
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: hsla(0,0%,100%,.6);
}

.sidebar a:hover {
  color: white;
}

.sidebar-active a {
  color: #1db954
}

.left-spacing {
  margin-left: 260px;
}

.sidebar-logo {
  height: 50px;
  width: 50px;
}

.sidebar-link-container {
  display: flex;
  align-items: center;
  width: 217px;
  height: 50px;
  border-top: 1px solid hsla(0,0%,100%,.3);
}

.logout-button {
  background-color: transparent;
  transition: color .15s linear, background-color .15s linear;
  color: hsla(0,0%,100%,.6);
  height: 30px;
  width: 65px;
  border-radius: 11px;
}

.logout-button:hover {
  background-color: white;
  color: #f44242;
}

.user-logout span {
  color: hsla(0,0%,100%,.6);
}

.user-logout {
  position: absolute;
  bottom: 100px;
}

/*/////////////////////////////////////////////////
////////////////  playlists  //////////////////////
/////////////////////////////////////////////////*/

/* .playlist-index-flexbox {

  position: absolute;
  width: 100%;
  min-height: 100%;ß

  background: -webkit-linear-gradient(top, #a90329 0%,#000000 100%);
  background: linear-gradient(to bottom, #a90329 0%,#000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#000000',GradientType=0 );
  font-family: proxima_nova,Helvetica Neue,Helvetica,Arial,sans-serif;
} */

/* .random-gradient {
  background-image: linear-gradient(rgb(111, 19, 94), rgb(13, 2, 11) 85%);
} */

.playlist-index-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.playlist-index {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.playlist-index-item img, .add-playlist-index-item img {
  position: relative;
  height: 170px;
  width: 170px;
  -webkit-box-shadow: 0px 24px 190px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 24px 190px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 24px 190px -6px rgba(0,0,0,0.75);
}

.playlist-index-item span {
  position: relative;
}

.playlist-index-item, .add-playlist-index-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 130px;
  padding: 10px 10px 0 10px;
  margin: 10px 10px 0 10px;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.playlist-index-item-container {
  text-align: center;
}

.playlist-detail-container {
  display: flex;
  height: auto;
  width: 98%;
  padding-bottom: 100px;
}

.playlist-detail-container img {
  height: 250px;
  width: 250px;
  -webkit-box-shadow: 0px 24px 190px -20px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 24px 190px -20px rgba(0,0,0,0.75);
  box-shadow: 0px 24px 190px -20px rgba(0,0,0,0.75);
}

.playlist-detail-tracks {
  padding: 10px;
  height: auto;
  width: 100%;
}

.playlist-detail-info {
  padding: 10px;
  text-align: center;
}

.add-track {
  justify-content: center;
}

.add-playlist-index-item {
  transition: all .2s ease-in-out;
}

.add-playlist-index-item:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* .playlist-shadow-box {
  position: absolute;
  z-index: 0;
  height: 170px;
  width: 170px;
  top: 88px;
  background-color: transparent;
  transition: background-color .3s linear;
} */

/* .playlist-shadow-box:hover {
  background-color: rgba(0,0,0,.3);
} */

/*/////////////////////////////////////////////////
///////////////////  tracks  //////////////////////
/////////////////////////////////////////////////*/

.track-index-highlight {
  position: relative;
  z-index: 0;
  display: flex;
  height: 60px;
  padding: 5px 5px 5px 15px;
  transition: background-color .2s linear;
}

.track-index-highlight:hover {
  background-color: rgba(0,0,0,.3);
}

.track-number-button {
  min-width: 20px;
  min-height: 20px;
  font-weight: 200;
  color: hsla(0,0%,100%,.6);
}

.track-info-group {

}

.track-name {
  width: auto;
  margin: 5px 0 15px 15px;
  font-weight: 250;
  letter-spacing: 0.8px;
}

.track-artist-name {
  margin-left: 15px;
}

.track-artist-name, .track-album-name {
  font-weight: 300;
  letter-spacing: 0.7px;
  transition: color .15s linear, text-decoration .15s linear;
  color: hsla(0,0%,100%,.7);
}

.track-artist-name:hover, .track-album-name:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.add-to-playlist-button {
  position: absolute;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10%;
}

.add-button-icon i {
  font-size: 20px;
  transition: color .15s linear, font-size .15s linear;
}

.add-button-icon:hover i {
  cursor: pointer;
  font-size: 28px;
  color: #1db954;
  box-shadow: 0px 24px 190px -20px #1db954;
}

.delete-button-icon i {
  font-size: 20px;
  transition: color .15s linear, font-size .15s linear;
}

.delete-button-icon:hover i {
  cursor: pointer;
  font-size: 28px;
  color: #ff2d2d;
  box-shadow: 0px 24px 190px -20px #ff6666;
}

/*/////////////////////////////////////////////////
///////////////////  search  //////////////////////
/////////////////////////////////////////////////*/

.search-index-flexbox {
  position: absolute;
  width: 100%;
  min-height: 100%;
}

.left-spacing-exact {
  margin-left: 250px;
}

.search-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-form {
  background-color: #282828;
  padding-top: 26px;
  height: 122px;
  width: 100%;
}

.search-form span, .search-form input[type=text] {
  padding-left: 30px;
}

.search-input {
  background-color: transparent;
  border: none;
  caret-color: #1db954;
  height: 60px;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
}

.search-input:focus, .search-input:hover {
  outline: 0;
}

.search-result-index {
  font
  height: auto;
  padding: 10px 10px 102px 0;
}

.search-result-index .track-index-highlight:hover {
  background-color: rgba(225, 225, 225, .17);
}

/*/////////////////////////////////////////////////
///////////////////  playbar  /////////////////////
/////////////////////////////////////////////////*/

.playbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(45, 45, 45);
  border-top: 1px solid black;
}

.now-playing-container {
  height: auto;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
}

.now-playing-artwork img {
  height: 60px;
  width: 60px
}

.now-playing-info {
  height: 100%;
  width: auto;
  padding: 0 11px 0 11px;
}

.now-playing-track {
  font-size: 15px;
  font-weight: 300;
}

.now-playing-artist {
  width: fit-content;
  margin: 5px 0 5px 0;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 0.8px;
  /* color: #c4c4c4; */
  transition: color .15s linear, text-decoration .15s linear;
  color: hsla(0,0%,100%,.7);
}

.now-playing-artist:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.now-playing-add-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
}

.now-playing-add-button i {
  position: relative;
  left: 10px;
  bottom: 14px;
  font-size: 15px;
  transition: color .15s linear, font-size .15s linear;
}

.now-playing-add-button:hover i {
  cursor: pointer;
  font-size: 20px;
  color: #1db954;
  box-shadow: 0px 24px 190px -20px #1db954;
}

.audio-container {

}

.extra-controls {
  width: 80px;
  display: flex;
  justify-content: space-between;
}
